## A Comprehensive Look at the Empirical Performance of Equity Premium Prediction
##### Goyal and Welch(2008)  

## æ–‡ç« å›é¡¾
**ä¸Šå­¦æœŸç¬¬å…«å‘¨è®ºæ–‡è§£è¯»å†…å®¹*

### - ç ”ç©¶é—®é¢˜  
    å‰äººç ”ç©¶è¿‡çš„ä¼—å¤šçº¿æ€§å›å½’æ¨¡å‹æ˜¯å¦èƒ½åœ¨æ ·æœ¬å†…å’Œæ ·æœ¬å¤–ç¨³å®šæœ‰æ•ˆé¢„æµ‹è‚¡å¸‚æ•´ä½“æ”¶ç›Šï¼Ÿ
### - ç ”ç©¶æ–¹æ³•  
    çº¿æ€§å›å½’ï¼šæ ·æœ¬å†…é¢„æµ‹ + æ ·æœ¬å¤–é¢„æµ‹ 
    æ ·æœ¬å†…é¢„æµ‹ï¼šåœ¨å…¨éƒ¨æ ·æœ¬æœŸå›å½’å¾—åˆ°å‚æ•°ï¼ˆé¢„æµ‹æ—¶ä¼šç”¨åˆ°æœªæ¥æ•°æ®ï¼‰
    æ ·æœ¬å¤–é¢„æµ‹ï¼šåœ¨tæœŸä»…ç”¨å‰t-1æœŸæ•°æ®å›å½’å¾—åˆ°å‚æ•°ï¼ˆé¢„æµ‹æ—¶ä¸ç”¨åˆ°æœªæ¥æ•°æ®ï¼‰
### - å˜é‡æ•°æ®   
    http://www.hec.unil.ch/agoyal/docs/PredictorData.xls
    å› å˜é‡ï¼šå¸‚åœºæ•´ä½“æ”¶ç›Šç‡
    è‡ªå˜é‡ï¼š15ä¸ªå•å˜é‡ + kitchen sink + model selection
    è¡¡é‡æŒ‡æ ‡ï¼š
        å¯¹æ ·æœ¬å†…é¢„æµ‹ï¼š è°ƒæ•´åçš„R2
        å¯¹æ ·æœ¬å¤–é¢„æµ‹ï¼šï¼ˆå¦‚ä¸‹å›¾ï¼‰å…¶ä¸­ï¼ŒMSEaä¸ºçº¿æ€§é¢„æµ‹æ¨¡å‹å‡æ–¹è¯¯å·®ï¼ŒMSEnä¸ºä»¥å†å²å‡å€¼ä¸ºä¼°è®¡æ–¹æ³•çš„å‡æ–¹è¯¯å·®

![%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20200325143222.png](attachment:%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20200325143222.png)

### - ç ”ç©¶ç»“è®º
    æ²¡æœ‰ä»»ä½•æ¨¡å‹å…·æœ‰ç¨³å®šçš„é¢„æµ‹èƒ½åŠ›

## å®è¯ç»“æœ
** ä¸»è¦å±•ç¤ºå’Œå®ç°è¡¨1ç»“æœ*
![%E5%9B%BE%E7%89%87.png](attachment:%E5%9B%BE%E7%89%87.png)

##### è¯´æ˜ï¼š
- æ³¨æ„æœ‰å¤šç§ä¸åŒé¢„æµ‹åŒºé—´
- é™¤å•å˜é‡å¤–çš„æ¨¡å‹ï¼š  
   
    - all: kitchen sinkï¼Œå³æ‰€æœ‰å•å˜é‡ç»„åˆçš„å¤šå˜é‡å›å½’             
    - ms: model selection ï¼ˆåªå¯¹OOSæœ‰ï¼‰ï¼Œå³åœ¨ç¬¬tæœŸï¼Œæ ¹æ®å‰t-1æœŸå…±```2^15 = 32768```ä¸ªæ¨¡å‹ä¸­è¡¨ç°æœ€å¥½çš„æ¨¡å‹ï¼Œè¡¡é‡æ ‡å‡†æ˜¯ç´¯è®¡å¹³æ–¹è¯¯å·®    
    ï¼ˆmséå¸¸è€—æ—¶ï¼Œæ¥ä¸åŠç®—äº†ğŸ™ï¼Œè¿™é‡Œåªå±•ç¤ºcodeï¼‰      
    - caya: æ— ç°æˆæ•°æ®ï¼Œæ–¹æ³•ç±»ä¼¼

![bootnull.png](attachment:bootnull.png)

- ç»Ÿè®¡æ£€éªŒï¼šbootstrapæ„é€ ä¸´ç•Œå€¼   

   - ISé¢„æµ‹æ£€éªŒï¼š measured by F-statistics (critical values of which are obtained empirically from bootstrapped distributions)
      1. å‡è®¾å˜é‡é—´æ²¡æœ‰é¢„æµ‹å…³ç³»ï¼ŒæŒ‰ä¸Šè¿°æ¨¡å‹å›å½’å¾—åˆ°æ®‹å·®åºåˆ—å’Œå‚æ•°
      2. bootstrapæ®‹å·®ï¼Œæ„é€ æ–°çš„xã€yåºåˆ—
      3. ç”¨æ–°çš„åºåˆ—è¿›è¡Œæ ·æœ¬å†…å›å½’ï¼Œè®¡ç®—å›å½’çš„Få€¼ ```F-stat = (SSR/k)/(SSE/(n-k-1))```   
      4. é‡å¤ä¸Šè¿°æ­¥éª¤10000æ¬¡ï¼Œå¾—åˆ°Få€¼åˆ†å¸ƒï¼Œå–90thã€95thã€99thåˆ†ä½æ•°ä¸ºä¸´ç•Œå€¼
   - OOSé¢„æµ‹æ£€éªŒï¼š based on significance of MSE-F statistic
      
      - å’ŒISæ–¹æ³•ç±»ä¼¼ï¼Œä¸åŒåœ¨äºæ„é€ æ–°åºåˆ—åï¼Œè¿›è¡Œæ ·æœ¬å¤–å›å½’ï¼Œè®¡ç®—MSE-Få€¼å¾—åˆ°åˆ†å¸ƒ

- æ ·æœ¬å¤–é¢„æµ‹çš„powerè®¡ç®—ï¼ˆå­˜ç–‘ï¼‰
    
    calculated as the fraction of draws where the simulated RMSE is greater than the empirically calculated 95% critical value
       
    1. æŒ‰ä¸Šé¢ç›¸åŒçš„æ–¹æ³•å¾—åˆ°é›¶å‡è®¾ä¸‹RMSEçš„åˆ†å¸ƒï¼Œè®¡ç®—95thåˆ†ä½æ•°
    2. ä»¥ç±»ä¼¼ä¸Šè¿°bootstrapçš„æ–¹å¼å¾—åˆ°çº¿æ€§æ¨¡å‹çš„RMSEåˆ†å¸ƒï¼ˆå¦‚ä¸‹å›¾å¼å­ï¼‰
    3. è®¡ç®—10000ä¸ªRMSEä¸­å¤§äºç¬¬1æ­¥å¾—åˆ°çš„ä¸´ç•Œå€¼çš„æ¯”ä¾‹ï¼Œå³ä¸ºpower

![%E5%9B%BE%E7%89%87.png](attachment:%E5%9B%BE%E7%89%87.png)

![power.png](attachment:power.png)

## ä»£ç å®ç°

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import os
import random
from itertools import product
os.chdir('C:/Users/longzhen/Desktop/ç»„ä¼š/GW2008_replication')

### 1. å˜é‡æ„é€

In [2]:
raw_data = pd.read_excel("originaldata_annual.xlsx", index_col=0)
def cons_var():
    temp = pd.DataFrame({
        "ret": np.log((raw_data.Index + raw_data.D12) / raw_data.Index.shift(1)) - np.log(raw_data.Rfree + 1),#æ³¨æ„æ”¶ç›Šç‡æ„é€ 
        "dfy": raw_data.BAA - raw_data.AAA,
        "infl": raw_data.infl,
        "svar": raw_data.svar,
        "de": np.log(raw_data.D12) - np.log(raw_data.E12),
        'lty': raw_data.lty,
        "tms": raw_data.lty - raw_data.tbl,
        "tbl": raw_data.tbl,
        "dfr": raw_data.corpr - raw_data.ltr,
        "dp": np.log(raw_data.D12) - np.log(raw_data.Index),
        "dy": np.log(raw_data.D12) - np.log(raw_data.Index.shift(1)),
        "ltr": raw_data.ltr,
        "ep": np.log(raw_data.E12) - np.log(raw_data.Index),
        "bm": raw_data["b/m"],
        'ik': raw_data.ik,
        "ntis": raw_data.ntis,
        'eqis': raw_data.eqis,
#        'csp': raw_data.csp,  å¹´åº¦æ•°æ®ä¸­æ²¡æœ‰csp
        'cay': raw_data.cay
    })

    return temp
a_data = cons_var()   
# a_data.to_excel("annually_data.xlsx")

In [3]:
a_data.head()

,ret,dfy,infl,svar,de,lty,tms,tbl,dfr,dp,dy,ltr,ep,bm,ik,ntis,eqis,cay
yyyy,,,,,,,,,,,,,,,,,,
1871,NaN,NaN,NaN,NaN,-0.430783,NaN,NaN,NaN,NaN,-2.903111,NaN,NaN,-2.472328,NaN,NaN,NaN,NaN,NaN
1872,0.055359,NaN,NaN,NaN,-0.360003,NaN,NaN,NaN,NaN,-2.827314,-2.760010,NaN,-2.467311,NaN,NaN,NaN,NaN,NaN
1873,-0.148267,NaN,NaN,NaN,-0.332134,NaN,NaN,NaN,NaN,-2.594802,-2.732003,NaN,-2.262668,NaN,NaN,NaN,NaN,NaN
1874,0.049551,NaN,NaN,NaN,-0.332134,NaN,NaN,NaN,NaN,-2.621590,-2.594802,NaN,-2.289456,NaN,NaN,NaN,NaN,NaN
1875,-0.014645,NaN,NaN,NaN,-0.182322,NaN,NaN,NaN,NaN,-2.678736,-2.716900,NaN,-2.496414,NaN,NaN,NaN,NaN,NaN

### 2. æ ·æœ¬å†…é¢„æµ‹

In [4]:
#a_data = pd.read_excel('annually_data.xlsx',index_col = 0)
def samp(var, samp_period):
    '''
    æŒ‰ç…§ä¸åŒçš„æ ·æœ¬åŒºé—´å–å‡ºx,y (å¹´åº¦)
    full: å®Œæ•´æ ·æœ¬åŒºé—´
    20y-: å˜é‡å¯å¾—20å¹´åå¼€å§‹ä½œä¸ºé¢„æµ‹æœŸ
    1965-: ä»1965å¹´ä½œä¸ºé¢„æµ‹æœŸ
    1927-: ä»1927å¹´ä½œä¸ºæ ·æœ¬æœŸ
    '''
    x = a_data[var]
    y = a_data.ret
    start = x.dropna().index[0]
    if samp_period == 'full':
        x = x.loc[start:][:-1]
        y = y.loc[(start+1):]
    elif samp_period == '20y-':
        x = x.loc[(start+19):][:-1]
        y = y.loc[(start+20):]
    elif samp_period == '1965-':
        x = x.loc[1965:][:-1]
        y = y.loc[(1965+1):]
    else:  # 1927-
        if start >= 1927:
            return pd.Series([np.nan]), pd.Series([np.nan])
        else:
            x = x.loc[1927:][:-1]
            y = y.loc[(1927+1):]
    return y,x  
def IS(var, samp_period):
    '''
    æ ·æœ¬å†…å›å½’è°ƒæ•´åR2  (å¹´åº¦ï¼Œincluding dividends)
    input:
    var: str, è‡ªå˜é‡åç§°
    samp_period: str, å›å½’çš„æ ·æœ¬åŒºé—´
    output:
    adjusted R2
    bootstrap F-statistics
    '''
    y, x = samp(var, samp_period)# æŒ‰ç…§ä¸åŒçš„æ ·æœ¬åŒºé—´å–å‡ºx,y
    if np.isnan(x.iloc[0]):
        isR2 = 'same'
    else:
        result = sm.OLS(y.tolist(), sm.add_constant(x.tolist())).fit()  #æ‹Ÿåˆ
        isR2 = result.rsquared_adj
    return isR2
variables = a_data.columns[1:]  # å»æ‰retå› å˜é‡
table1 = pd.DataFrame(index = variables, columns = ['ISR2','ISR2_20','OOSR2_20',
                                                    'rmse_20','power_20','ISR2_65',
                                                    'OOSR2_65','rmse_65','power_65',
                                                    'ISR2_27'])
for v in variables:
    table1.loc[v].ISR2 = IS(v,'full') * 100
    table1.loc[v].ISR2_20 = IS(v,'20y-')* 100
    table1.loc[v].ISR2_65 = IS(v,'1965-')* 100
    if IS(v,'1927-') != 'same':
        table1.loc[v].ISR2_27 = IS(v,'1927-')* 100
    else:
        table1.loc[v].ISR2_27 = 'same'

# kitchen sink
data_ks = a_data.drop(['ik','cay'],axis = 1).dropna()  # 1927-2005ï¼Œä»1927å¹´å¼€å§‹æœ‰æ‰€æœ‰å•å˜é‡æ•°æ®
table1 = table1.T
table1['all'] = np.nan
table1 = table1.T
result = sm.OLS(data_ks.ret[1:21].tolist(), sm.add_constant(data_ks.iloc[:20,1:])).fit()
table1.loc['all'].ISR2 = result.rsquared_adj * 100
result = sm.OLS(data_ks.ret[21:].tolist(), sm.add_constant(data_ks.iloc[20:-1,1:])).fit()
table1.loc['all'].ISR2_20 = result.rsquared_adj * 100
result = sm.OLS(data_ks.ret[39:].tolist(), sm.add_constant(data_ks.iloc[38:-1,1:])).fit()
table1.loc['all'].ISR2_65 = result.rsquared_adj * 100
table1.loc['all'].ISR2_27 = 'same'

In [5]:
table1

,ISR2,ISR2_20,OOSR2_20,rmse_20,power_20,ISR2_65,OOSR2_65,rmse_65,power_65,ISR2_27
dfy,-1.18079,-1.53826,NaN,NaN,NaN,0.768991,NaN,NaN,NaN,-1.30528
infl,-0.937314,-0.352295,NaN,NaN,NaN,-2.6234,NaN,NaN,NaN,-0.990394
svar,-0.758608,-0.987625,NaN,NaN,NaN,-1.56812,NaN,NaN,NaN,-1.3156
de,-0.737887,-0.730801,NaN,NaN,NaN,-2.57604,NaN,NaN,NaN,-1.23286
lty,-0.625367,-0.242178,NaN,NaN,NaN,-1.26701,NaN,NaN,NaN,-0.93955
tms,0.159454,0.389201,NaN,NaN,NaN,2.14839,NaN,NaN,NaN,0.888256
tbl,0.342755,1.53981,NaN,NaN,NaN,-2.45942,NaN,NaN,NaN,0.152003
dfr,0.400913,0.468234,NaN,NaN,NaN,0.298054,NaN,NaN,NaN,0.316658
dp,0.488088,1.60682,NaN,NaN,NaN,0.12152,NaN,NaN,NaN,1.65553
dy,0.896986,1.858,NaN,NaN,NaN,0.204671,NaN,NaN,NaN,2.69224
ltr,0.990707,0.352451,NaN,NaN,NaN,0.540093,NaN,NaN,NaN,0.918825
ep,1.10411,1.15302,NaN,NaN,NaN,0.454265,NaN,NaN,NaN,3.24823
bm,3.20329,1.55774,NaN,NaN,NaN,-2.2554,NaN,NaN,NaN,4.14874
ik,6.62526,0.594806,NaN,NaN,NaN,2.18018,NaN,NaN,NaN,same
ntis,5.73322,-1.30566,NaN,NaN,NaN,1.33307,NaN,NaN,NaN,8.14705
eqis,9.14826,3.21282,NaN,NaN,NaN,4.09566,NaN,NaN,NaN,same
cay,15.7175,22.1324,NaN,NaN,NaN,22.5213,NaN,NaN,NaN,same
all,22.6028,23.7746,NaN,NaN,NaN,8.20288,NaN,NaN,NaN,same

- ç»“æœå¯¹æ¯”:
   
   - ç¬¬ä¸€åˆ—å…¨åŒºé—´ã€æœ€åä¸€åˆ—1927å¹´åçš„æ ·æœ¬å†…å›å½’å‡ ä¹ç›¸åŒï¼ˆé™¤allï¼‰-> è¯´æ˜å˜é‡æ„é€ å’Œæ ·æœ¬å†…å›å½’æ–¹æ³•é—®é¢˜ä¸å¤§(?)
   - ä½†ä¸­é—´ä¸¤åˆ—IS for OOS ç›¸å·®è¾ƒå¤§
- IS for OOSï¼š
   
   - The column â€˜IS for OOSâ€™ gives the IS-R2 for the OOS period. It  shows how dependent variables' performance is on the first 20 years of the sample.

### 3. æ ·æœ¬å¤–é¢„æµ‹

In [6]:
def histmean(data):  # prevailing mean estimation
    premean = pd.Series(index = data.index)
    for i in data.index:
        premean.loc[i] = data.loc[:i-1].mean()
    return premean
premean = histmean(a_data.ret)

def OOS(var):
    '''
    æ ·æœ¬å¤–å›å½’é¢„æµ‹åºåˆ—
    '''
    x = a_data[var]
    y = a_data.ret
    start = x.dropna().index[0]
    pred = pd.Series(index = a_data.index)
    for i in range(start+20, 2005):# æ ·æœ¬å¤–é¢„æµ‹åŒºé—´ æœ€å¤šæ˜¯æ•°æ®å¯å¾—ç¬¬20æœŸå¼€å§‹
        x_reg = x.loc[start:i-1]  # expanding forecast window
        y_reg = y.loc[start+1:i] 
        x_test = a_data[var].loc[i]  # ç”¨ç¬¬iæœŸé¢„æµ‹ç¬¬i+1æœŸ
        result = sm.OLS(y_reg.tolist(), sm.add_constant(x_reg.tolist())).fit()  #æ‹Ÿåˆ
        pred.loc[i+1] = result.predict([1, x_test])[0]  #é¢„æµ‹
    return pred

OOSpred = pd.DataFrame(index = a_data.index, columns = variables) # ä¿å­˜å•å˜é‡çš„æ ·æœ¬å¤–é¢„æµ‹åºåˆ—
for v in variables:
    OOSpred[v] = OOS(v)

# åŠ å…¥æ ·æœ¬å¤– allï¼ˆkitchen sinkï¼‰
OOSpred['all'] = np.nan
for i in range(1947,2005):
    result = sm.OLS(data_ks.iloc[1:i-1926,0].tolist(), sm.add_constant(data_ks.iloc[:i-1927,1:])).fit()
    OOSpred['all'].loc[i+1] = result.predict([1] + data_ks.iloc[i-1927,1:].tolist())[0]

### 4. msæ¨¡å‹æ„é€

In [ ]:
# è®¡ç®—é‡å¤ªå¤§ åªå±•ç¤ºcode
OOSpred['ms_20'] = np.nan
OOSpred['ms_65'] = np.nan

def varselect(data, samp_period):
    '''
    å¯¹æ¯ä¸€æœŸçš„æ¨¡å‹åšä¸€æ¬¡å˜é‡ç­›é€‰ï¼Œminimum cumulative squared errorsä¸ºæ ‡å‡†
    è¿”å›ç­›é€‰è¿‡åçš„è‡ªå˜é‡
    '''
    a = [np.nan,1]
    loop_val = [a]*15  # 15ä¸ªè‡ªå˜é‡
    pro = []
    for i in product(*loop_val):
        pro.append(i)
    pro = pro[1:]   # å…¨0çš„ä¸€ç»„ä¸è¦ï¼Œå‡½æ•°ä¸­è‡³å°‘è¦æœ‰ä¸€ä¸ªè‡ªå˜é‡
    optx = pd.DataFrame()
    optcse = 999
    for j in range(len(pro)):
        X = np.array(pro[j])*data.iloc[:-1,1:] 
        X = X.dropna(axis = 1)
        y = data.iloc[1:,0]
        end = y.index[-1]
        if samp_period == '20y-':
            start = 1947
        if samp_period == '1965-':
            start = 1965
        r = y.loc[start:end]
        pred = []
        for t in range(start,end+1):
            x_reg = X.loc[:t-1]  # expanding forecast windowï¼ŒXè¦æ¯”yæ»åä¸€æœŸ
            y_reg = y.loc[1:t] 
            result = sm.OLS(y_reg.tolist(), sm.add_constant(x_reg)).fit()  #æ‹Ÿåˆ
            pred.append(result.predict([1]+ (np.array(pro[j])*data.loc[t][1:]).dropna().tolist())[0])
        cse = ((r-pred)**2).sum()
        if cse < optcse:
            optx = X
            optcse = cse
    return optx

for i in range(1927,2005): 
    msX = varselect(data_ks.loc[:i],'20y-')# x 1927-1946, y 1928-1947
    result = sm.OLS(data_ks.iloc[1:i-1926,0].tolist(), sm.add_constant(msX)).fit()
    OOSpred['ms_20'].loc[i+1] = result.predict([1] + data_ks[msX.columns].iloc[i-1926,:].tolist())[0]
for i in range(1965,2005):
    msX = varselect(data_ks.loc[:i],'1965-')# x 1927-1946, y 1928-1947
    result = sm.OLS(data_ks.iloc[1:i-1926,0].tolist(), sm.add_constant(msX)).fit()
    OOSpred['ms_65'].loc[i+1] = result.predict([1] + data_ks[msX.columns].iloc[i-1926,:].tolist())[0]

In [7]:
OOSpred.tail()

,dfy,infl,svar,de,lty,tms,tbl,dfr,dp,dy,ltr,ep,bm,ik,ntis,eqis,cay,all
yyyy,,,,,,,,,,,,,,,,,,
2001,0.066598,0.065268,0.057976,0.063768,0.065066,0.040437,0.056273,0.143094,0.002401,-0.027892,0.121011,0.013610,0.008037,-0.004251,0.127903,0.105192,0.012980,0.110740
2002,0.064001,0.065811,0.055116,0.048939,0.061461,0.128910,0.086423,0.028432,-0.008301,-0.043348,0.056957,-0.029120,-0.004572,0.061244,0.076787,0.134015,0.066260,-0.031646
2003,0.059966,0.060449,0.053996,0.047224,0.062063,0.097719,0.083464,0.070205,-0.009479,-0.056474,0.093390,-0.021314,0.009207,0.101352,0.041195,0.124911,0.075823,0.008639
2004,0.061589,0.063264,0.051876,0.053228,0.062600,0.114549,0.089099,0.029795,-0.006704,-0.007014,0.045042,0.014362,0.003959,0.098464,0.090566,0.133892,-0.001459,0.099417
2005,0.061388,0.061458,0.049855,0.055212,0.064525,0.086642,0.079025,0.062594,-0.000076,-0.010348,0.069457,0.022459,0.013753,0.083880,0.079412,0.129088,-0.009133,0.103115

In [8]:
def mse(y,pred):
    return ((y-pred)**2).mean()

def OOS_stat(var,samp_period):
    '''
    åŒæ—¶ç®—ä¸¤ç§é¢„æµ‹åŒºé—´çš„OOSR2å’Œrmse
    '''
    start = OOSpred[var].dropna().index[0]
    if samp_period == '20y-':
        OOSstart = start+21
    else:
        OOSstart = 1965
    r = a_data.ret.loc[OOSstart:]
    MSEa = mse(r, OOSpred[var].loc[OOSstart:])
    MSEn = mse(r, premean.loc[OOSstart:])
    OOS_R2 = 1 - MSEa/MSEn
    RMSE = np.sqrt(MSEn) - np.sqrt(MSEa)
    return OOS_R2, RMSE

for v in OOSpred.columns:
    table1.loc[v].OOSR2_20 = OOS_stat(v,'20y-')[0] *100
    table1.loc[v].rmse_20 = OOS_stat(v,'20y-')[1] *100
    table1.loc[v].OOSR2_65 = OOS_stat(v,'1965-')[0] *100
    table1.loc[v].rmse_65 = OOS_stat(v,'1965-')[1] *100

In [9]:
table1

,ISR2,ISR2_20,OOSR2_20,rmse_20,power_20,ISR2_65,OOSR2_65,rmse_65,power_65,ISR2_27
dfy,-1.18079,-1.53826,-4.71302,-0.359808,NaN,0.768991,-5.65617,-0.435315,NaN,-1.30528
infl,-0.937314,-0.352295,-2.01111,-0.156198,NaN,-2.6234,-3.78503,-0.292626,NaN,-0.990394
svar,-0.758608,-0.987625,-33.5631,-2.9986,NaN,-1.56812,-0.455085,-0.0354728,NaN,-1.3156
de,-0.737887,-0.730801,-2.52317,-0.23857,NaN,-2.57604,-2.36713,-0.183641,NaN,-1.23286
lty,-0.625367,-0.242178,-13.0155,-0.974485,NaN,-1.26701,-14.1963,-1.07107,NaN,-0.93955
tms,0.159454,0.389201,-6.32159,-0.480163,NaN,2.14839,-5.92213,-0.455494,NaN,0.888256
tbl,0.342755,1.53981,-7.96473,-0.602615,NaN,-2.45942,-7.91372,-0.605799,NaN,0.152003
dfr,0.400913,0.468234,-3.5088,-0.273775,NaN,0.298054,-4.30511,-0.332414,NaN,0.316658
dp,0.488088,1.60682,-0.591022,-0.0561496,NaN,0.12152,-1.1353,-0.0883445,NaN,1.65553
dy,0.896986,1.858,-0.71243,-0.0677529,NaN,0.204671,-4.06188,-0.313818,NaN,2.69224
ltr,0.990707,0.352451,-22.1897,-1.65899,NaN,0.540093,-20.0954,-1.49643,NaN,0.918825
ep,1.10411,1.15302,-0.510788,-0.0485367,NaN,0.454265,1.52008,0.119075,NaN,3.24823
bm,3.20329,1.55774,-15.2498,-1.13146,NaN,-2.2554,-15.9344,-1.19752,NaN,4.14874
ik,6.62526,0.594806,-2.80131,-0.220365,NaN,2.18018,-4.05625,-0.313388,NaN,same
ntis,5.73322,-1.30566,-7.03859,-0.544545,NaN,1.33307,-7.93212,-0.607181,NaN,8.14705
eqis,9.14826,3.21282,1.42544,0.114102,NaN,4.09566,-1.63335,-0.126944,NaN,same
cay,15.7175,22.1324,14.4387,1.12928,NaN,22.5213,10.4313,0.836435,NaN,same
all,22.6028,23.7746,-111.176,-7.22932,NaN,8.20288,-105.066,-6.74254,NaN,same

- ç»“æœå¯¹æ¯”
   
   - OOS R2åŸºæœ¬éƒ½ä¸ä¸€æ ·ï¼Œrmseæœ‰çº¦ä¸€åŠå˜é‡ä¸€æ ·

### 5. æ„é€ ä¸´ç•Œå€¼

In [ ]:
random.seed(0)
def OOS_2mse(var,yboot,xboot,samp_period):
    premean = histmean(yboot).dropna()
    if samp_period == '20y-':
        start = yboot.index[0] + 20
    else:
        start = 1965
    pred = pd.Series(index = range(start,2005))
    for i in pred.index :# æ ·æœ¬å¤–é¢„æµ‹åŒºé—´ 
        x_reg = xboot.loc[:i-1]  # expanding forecast window
        y_reg = yboot.loc[:i]
        x_test = xboot.loc[i]  # ç”¨0~iæœŸé¢„æµ‹ç¬¬i+1æœŸ
        result = sm.OLS(y_reg.tolist(), sm.add_constant(x_reg.tolist())).fit()  #æ‹Ÿåˆ
        pred.loc[i+1] = result.predict([1, x_test])[0]  #é¢„æµ‹
    r = yboot.loc[pred.index]
    MSEa = mse(r, pred)
    MSEn = mse(r, premean)
    rmse = np.sqrt(MSEn) - np.sqrt(MSEa)
    msef = len(yboot) * (MSEn - MSEa) / MSEa
    return rmse, msef

def distr_null(var,regtype,samp_period,iter_num = 10000):
    '''
    å¯¹ISï¼š è¾“å‡ºFå€¼åˆ†å¸ƒ
    å¯¹OOSï¼šè¾“å‡ºrmseã€mse-fåˆ†å¸ƒ
    
    '''
    y,x = samp(var,'full')
    yres = sm.OLS(y, [1]*len(y)).fit()
    u1 = yres.resid
    alp = yres.params
    xres = sm.OLS(x.iloc[1:].tolist(), sm.add_constant(x.iloc[:-1].tolist())).fit()  #æ‹Ÿåˆ
    u2 = xres.resid
    beta0, beta1 = xres.params
    if regtype == 'IS':
        dst = pd.DataFrame(index = range(iter_num),columns = ['f-stat'])
        for i in range(iter_num):
#            initial = x.dropna().index[0]
            initial = random.randint(x.index[0],x.index[-1])  # ä»»é€‰ä¸€å¤©ä½œä¸ºèµ·å§‹ç‚¹ ï¼ˆï¼Ÿï¼‰
            u1boot = pd.Series(np.random.choice(u1,x.index[-1]-initial+1),index = range(initial+1,2006))
            u2boot = pd.Series(np.random.choice(u2,x.index[-1]-initial+1),index = range(initial,2005))
            yboot = alp.values + u1boot
            xboot = (beta0 + beta1 * a_data[var] + u2boot).loc[initial:2004]
            result = sm.OLS(yboot.tolist(), sm.add_constant(xboot.tolist())).fit()
            dst.iloc[i,0] = result.fvalue
    else:
        dst = pd.DataFrame(index = range(iter_num), columns = ['rmse','mse_f'])
        for i in range(iter_num):
            u1boot = pd.Series(np.random.choice(u1,len(y)),index = y.index)
            u2boot = pd.Series(np.random.choice(u2,len(y)),index = x.index)
            yboot = alp.values + u1boot
            xboot = (beta0 + beta1 * x + u2boot)
            dst.iloc[i,:] = OOS_2mse(var,yboot,xboot,samp_period)
    return np.percentile(dst,[90,95,99],axis = 0)

### 6. åˆ¤æ–­æ˜¾è‘—æ€§

##### - æ ·æœ¬å†…æ˜¾è‘—æ€§

In [ ]:
# IS critical value(è¿ç®—è€—æ—¶ï¼Œç›´æ¥å±•ç¤ºç»“æœ)
IS_cri = pd.DataFrame(index = variables, columns = ['90','95','99'])
for v in variables:
    cri = distr_null(v,'IS','full')
    IS_cri.loc[v][0] = cri[0][0]
    IS_cri.loc[v][1] = cri[1][0]
    IS_cri.loc[v][2] = cri[2][0]
    y,x = samp(v, 'full')
    result = sm.OLS(y.tolist(), sm.add_constant(x.tolist())).fit()
    IS_cri.loc[v][3] = result.fvalue

In [10]:
IS_cri = pd.read_excel('IS_cri.xlsx', index_col = 0)
IS_cri

            90        95        99     f-stat
dfy   3.015835  4.353750  9.182914   0.008039
infl  3.068725  4.571045  9.762484   0.154965
svar  2.893772  4.333010  9.035566   0.104053
de    2.916293  4.387162  8.557680   0.025798
lty   2.894363  4.360325  8.836232   0.471742
tms   2.989345  4.416478  8.922878   1.134156
tbl   2.884946  4.289726  9.259584   1.288905
dfr   3.127210  4.492441  8.902368   1.313971
dp    2.849257  4.364444  8.642856   1.652342
dy    2.786952  4.187585  8.598194   2.194738
ltr   2.913367  4.439639  8.999400   1.780483
ep    2.939227  4.252610  8.339893   2.484863
bm    3.015066  4.481298  9.292225   3.746712
ik    3.307614  5.273108  9.161676   5.044346
ntis  2.906227  4.390903  9.667433   5.743888
eqis  3.075798  4.528415  9.468363   8.753464
cay   3.138729  4.633783  9.859803  12.002636

- ç»“æœå¯¹æ¯”
   
   - é™¤eqisã€ntisæ˜¾è‘—æ€§ç¨‹åº¦å’ŒåŸæ–‡ä¸åŒå¤–ï¼Œå…¶ä»–å‡ç›¸åŒ

##### - æ ·æœ¬å¤–æ˜¾è‘—æ€§
è®¡ç®—é‡å¤§ï¼Œä»…å±•ç¤ºcayç»“æœ

OOS_cri_eqis = distr_null('cay','OOS','20y-')   
critical value: array([2.5529032667144866ï¼Œ4.737032524237881ï¼Œ10.240622237947013], dtype=object)

OOS_2mse('cay',y,x, '20y-')[1]   
6.655558895934578

- ç»“æœå¯¹æ¯”ï¼š
   
   - åŸæ–‡ä¸º1%æ°´å¹³ï¼Œå¤åˆ¶ä¸º5%æ°´å¹³æ˜¾è‘—

### 7. è®¡ç®—power

In [ ]:
def distr_power(var,samp_period,iter_num = 10000):
    y,x = samp(var,'full')
    yres = sm.OLS(y.tolist(), sm.add_constant(x.tolist())).fit()
    u1 = yres.resid
    alp0,alp1 = yres.params
    xres = sm.OLS(x[1:].tolist(), sm.add_constant(x[:-1].tolist())).fit()  #æ‹Ÿåˆ
    u2 = xres.resid
    beta0, beta1 = xres.params
    rmse = []
    for i in range(iter_num):
        u1boot = pd.Series(np.random.choice(u1,len(u1)),index = y.index)
        u2boot = pd.Series(np.random.choice(u2,len(u2)),index = x[1:].index)
        yboot = (alp0 + alp1 * x.values + u1boot)
        xboot = (beta0 + beta1 * x[:-1].values + u2boot)
        rmse.append(OOS_2mse(var,yboot[1:],xboot,samp_period)[0]) # ybootæ¯”xbootå¤šä¸€æœŸ
    power = (np.array(rmse)>distr_null(var,'OOS',samp_period)[1][0]).mean() # 95% rmse
    return power

for v in variables:
    table1.loc[v].power_20 = distr_power(v,'20y-')
    table1.loc[v].power_65 = distr_power(v,'1965-')

##### ä»¥bmä¸ºä¾‹
distr_power('bm',20y-')   
output: 17.87%   
*æ€è·¯é—®é¢˜/ä»£ç é—®é¢˜ï¼Ÿ

## æ€»ç»“åæ€
#### æ–‡ç« äº®ç‚¹ï¼š
- æŠŠçº¿æ€§å›å½’åšå‡ºèŠ±æ¥
   
   - ä¸åŒçš„æ—¶é—´åŒºé—´ã€æ•°æ®é¢‘ç‡ã€æ£€éªŒæŒ‡æ ‡ã€è°ƒæ•´æ–¹æ³•â€¦â€¦
- ç ”ç©¶ç»“æœå¾ˆæœ‰æ„ä¹‰ï¼Œæ˜¯åç»­ç›¸å…³ç ”ç©¶çš„é‡è¦åŸºç¡€    
   
#### åæ€ï¼š
- æ€ä¹ˆæŠŠæ–‡ç« åšä¸°å¯Œ
- paperä¸Šå¾—æ¥ç»ˆè§‰æµ…â€¦â€¦